{
	admin off # No need for the admin api in railway's environment
	persist_config off # Storage isn't persistent anyway
	auto_https off # Railway handles https for us, this could in some cases cause issues
  # Runtime logs
	log {
		format json
	}
	servers {
		trusted_proxies static private_ranges # Trust railway's proxy
	}
}

# Site block, listens on the $PORT environment variable automatically assigned by railway
:{$PORT} {
	# Access logs
	log {
		format json
	}

	# Preserve ordering of the directives to allow for an un-authenticated health check
	route {
		respond /health-check 200

		basic_auth {
			{$USERNAME} {$PASSWORD_HASH}
		}

		@api host {$API_PUBLIC_DOMAIN}
		handle @api {
			reverse_proxy {$API_PROXY_PASS} {
				header_up Host {upstream_hostport}
			}
		}

		# Proxy all requests for /*
		reverse_proxy {$PROXY_PASS} {
			header_up Host {upstream_hostport}
		}
	}
}
